*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #161815;
    transition: all 0.5s;
}

h1{
    color: #3a86ff;
    text-align: center;
    font-weight: bold;
    
}

.container .serviciosDH{
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #3a86ff;
}

.container .pserviciosDH{
    text-align: justify;
}

.container .listado-servicio{
    font-size: 25px;
}

.container .row{
    margin-top: 40px;
}

p{
    font-size: 25px;
    text-align: center;
}

.imglogo{
    width: 50px;
    height: 50px; 
    margin-right: 10px;
}

.section-padding{
    padding: 70px 0;
}

.carousel-item{
    height: 100%;
    min-height: 700px;
}

.carousel-caption{
    bottom: 100px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 30, 82, 0.327);
    z-index: 1;
}

.navbar-nav a{
    font-size: 16px;
    text-transform: uppercase;
    color: #8AB3EC;
}

.navbar-dark .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #000;
}

.w-100{
    height: 100vh;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i{
    font-size: 50px;
}

.team .card-body i{
    font-size: 20px;
}

.fore-control{
    width: 100%;
}

@media(max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 100vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
    .section-padding{
        padding: 50px 0;
    }
}

/*Modo oscuro*/
li button{
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    padding: 7px;
    border: none;
    background: black;
    color: white;
}
li button:hover{
    background-color: white;
    color: black;
}

body.darkmode{
    background-color: rgb(252, 252, 255);
}
p.darkmode{
    color: #000;
}
h2.darkmode{
    color: #000;
    font-weight: bold;
}

div .lead.darkmode{
    color: white;
}
div .card-text.darkmode{
    color: white;
}
div .socials.darkmode{
    color: white;
}

/* boton arriba */
.go-top-container{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 5.6rem;
    height: 5.6rem;
    z-index: 11;
    opacity: 0.7;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 5rem;
        height: 5rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}   


/*estilos de cartas*/
.card {
    height: 100%; 
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    width: 100%; 
    max-width: 100%; 
    display: block;
    margin: 0 auto;
}

.card-text {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

/*estilos footer*/
.containerfooter{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    display: grid;
    place-content: center;
}

.containerfooter .container{
    
    margin: 0 auto;
}
footer{
    background-color: #242628;
    width: 100vw;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    border-bottom: 2px solid#00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(102, 97, 97, 0.925);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.social-links a:hover{
    background-color: #00c3ff;
}

